/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.centertext {
    text-align: center;
}

.center-content {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 1px 15px;
}

/*set background per page*/

.index-bg {
    background-image: url("images/bg/stars.gif");
    background-color: #000000;
    background-attachment: fixed;
    color: white;
    font-family: "Times New Roman", Times, serif;
    cursor:url(images/cursor/gerald.gif), auto;
    }

.index-bg a:hover{
    cursor:url(images/cursor/gerald.gif), auto;
}

#coollinks a:link {
    color: #0feb2d
}

#coollinks a:visited {
    color: #5cdf6e
}

#coollinks a:hover {
    color: #ffffff
}

#coollinks h2{
    margin: 0px 0px;
}

#coollinks p {
    margin: 0px 0px 15px 0px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: auto;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapperWrapper {
    max-width: 600px;
    margin: auto;
}

#linkme-bg {
    background-image: url("images/bg/bg_dexter.gif");
    background-attachment: fixed;
    background-color: rgb(33, 49, 140);
    cursor:url(images/cursor/eddy.png), auto;
    }

.linkme-content {
    background: url("images/bg/bananasplits.gif") rgb(255, 204, 0);
    background-attachment: fixed;
    color: rgb(112, 33, 33);
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 1px 15px;
    border-radius: 20px;

    font: 17px 'Cherry Cream Soda',"Arial Black", Gadget, sans-serif;
}



.linkme-content a:hover{
    cursor:url(images/cursor/eddy.png), auto;
}

.linkme-content h1 {
    font: 35px 'Fontdiner Swanky',Georgia, serif;
    margin: 5px auto;
}

.linkme-content p {
    margin-top: 1px;
    margin-bottom: 1em;
}

.error-bg {
    background-image: url("images/cartoonetwork/bg.gif");
    background-attachment: fixed;

    cursor:url(images/cursor/cursor4.gif), auto;
    }

.error-bg a:hover{
    cursor:url(images/cursor/gerald.gif), auto;
}

.error-text{
    font-family: Georgia, serif;
    color: rgb(214, 42, 42);
}
  
.guestbook-bg {
    background-image: url("images/bg/bg7.gif");
    /*background-size: contain, cover;*/
    background-attachment: fixed;
    background-color: #FCC0D5;
    color: rgb(11, 38, 160);
    font-family: "Times New Roman", Times, serif;

    cursor:url(images/cursor/hk.gif), auto;
    }

.guestbook-bg a:hover{
    cursor:url(images/cursor/hk.gif), auto;
}

figure {
    padding: 0px;
    margin:0px;
}

/*LIBRARY SHIT*/
@font-face
{
	font-family: SnowDream;
	src: url(../font/SnowDream.ttf) format('truetype');
}

#library-bg {
    background-image: url("images/bg/library.png");
    /*background-size: contain, cover;*/
    background-attachment: fixed;
    /* cursor:url(images/cursor/eddy.png), auto; */
}

.library-content {
    background: rgb(204,49,104);
    background-attachment: fixed;
    color: rgb(33,16,110);
    width: 95%;
    margin: auto;
    padding: 1px 15px;
    border-radius: 20px;

    font-family: 'Lexend', sans-serif;
    font-size: 20px;
}

.library-thing {
    border-radius: 20px;
    background-attachment: fixed;
    padding-bottom: 1px;
    margin: 10px 0px;
}

.library-ruthanddianne {
    background-image: url("images/library/ruthanddianne/bg.png");
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    color:#000000;
}

.library-ruthanddianne span {
    background-image: url("images/library/ruthanddianne/bg_white.png");
}

.library-ruthanddianne .imglink {
    margin: auto;
    display: block;
    padding: 0px;
    max-width: 100%;
}

@font-face
{
	font-family: PKMN;
	src: url(font/PKMN\ RBYGSC.ttf) format('truetype');
}

.library-tractron {
    background-image: url("images/library/tractron/bg.png");
    font-family: PKMN, monospace;
    font-weight: 600;
    font-size: 20px;
    color:white;
    padding: 10px 10px;
}

.library-tractron .imglink {
    margin: auto;
    display: block;
    padding: 0px;
    max-width: 70%;
}

@font-face
{
	font-family: Cherrybomb;
	src: url(font/Cherrybomb.ttf) format('truetype');
}

.library-wwtc {
    background-image: url("images/library/wwtc/bg.png");
    font-family: Cherrybomb, monospace;
    font-weight: 600;
    font-size: 20px;
    color: #4FE400;
    padding: 10px 10px;
}

.library-wwtc span {
    filter: drop-shadow(0 2mm 0 rgb(160, 0, 210));
}

.library-wwtc .imglink {
    margin: auto;
    display: block;
    padding: 0px;
    max-width: 100%;
}


.library-content h1{
    font-family:  SnowDream, Helvetica, sans-serif;
    font-size: 45px;
}

.library-ad {
    padding: 10px;
}

/*WALLPAPERS SHIT*/

#wallpapers-bg {
    background-image: url("images/bg/gainax1.gif");
    /*background-size: contain, cover;*/
    background-attachment: fixed;
    /* cursor:url(images/cursor/eddy.png), auto; */
}

.wallpapers-content {
    background-image: url("images/bg/gainax2.gif");
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    width: 95%;
    margin: auto;
    padding: 1px 15px;
    outline: 3px solid rgb(197, 15, 15);

    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
}

.wallpapers-content .imglink2 {
    max-width: 230px;
}

.wallpapers-content h1{
    font-family:  'Times New Roman', sans-serif;
}

.wallpapers-ad {
    padding: 10px;
}


/*MUSIC INDEX SHIT*/
.music-index-bg {
    background-image: url("images/bg/listenbkgd.gif");
    background-blend-mode: multiply;
    background-color: #2200ff;
    background-attachment: fixed;
    
    color: white;
    font-family: "Times New Roman", Times, serif;
    
    cursor:url(images/cursor/guitar2.png), auto;
    }
    

/* links */
.music-index-bg a:link{
    color:rgb(14, 212, 80)
}

.music-index-bg a:visited{
    color:rgb(14, 212, 80)
}

.music-index-bg a:hover{
    color:rgb(255, 255, 255);
    cursor:url(images/cursor/guitar2.png), auto;
}

.inline-img {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: baseline;
}


img.imglink {
/* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: none; /* IE5+ */
}

.music-index-bg .imglink {
    margin: auto;
    display: block;
    padding: 10px 30px;
    max-width: 100%;
}

img.imglink:hover {
filter:hue-rotate(40deg);
-webkit-transform: scale(1.01);
transform: scale(1.03);
cursor: inherit;
}

/*for marking individual music links as dormant or not yet up*/
img.dormant {
    filter: grayscale(100%);
    margin: auto;
    display: block;
    padding: 10px 30px;
    max-width: 100%;
}
/*for marking an entire section of music links as dormant or not yet up*/
.dormant img {
    filter: grayscale(100%);
    margin: auto;
    display: block;
    padding: 10px 30px;
    max-width: 100%;
}

/*DONT DELETE THIS IT CENTERS PADDED SHIT CORRECTLY*/
* {  
    box-sizing: border-box;
}

img.imglink2 {
    filter: none; /* IE5+ */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

img.imglink2:hover {
    filter:saturate(9);
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    }